# Dependencies
node_modules

# Build output
.next

# Version control
.git
.gitignore

# Dev / local config
.env*
*.local

# Editor
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Docs
README.md
*.md
